.appoint {
    height: 350px;
    border-color: #115CCD;
    border-style: solid;
    border-width: 1px;
}
.welcome{
    border-color: #115CCD;
    border-style: solid;
    border-right: none;
    background-color: aquamarine;
}
.welcome-width{
    height: 200px;
    width: auto;
}
 .bzero{
    border: 0;
 }

 .w-75 {
    width: 75%;
}
.imgheight{
    height: 190px;
    width: auto;
}
