.left-container {
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

.login-form {
    height: 500px;
    border-color: #115CCD;
    border-style: solid;
    border-width: 1px;
}


