.bg-box {
    height: 600px;
    width: 1440px;
    border-style: solid;
    /* border-width: 35px; */
    /* border-color: #115CCD; */
    background: #115CCD;
    border-radius: 10px;
}

.appt {
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: large;
}

.appt-box {
    height: 510px;
    width: 1380px;
    /* border-width: 35px; */
    /* border-color: #115CCD; */
    background:white;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 10px;
  }
  
